<%#include "user.h" %>
<% tfetch(User, logged_user); %>
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="" name="description">
        <meta content="" name="keywords">

        <link href="/assets/application.css" rel="stylesheet" type="text/css">
        <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/chosen-bootstrap/chosen.bootstrap.css">

    	<script type="text/javascript">
       		WEB_SOCKET_SWF_LOCATION = "/__rack/WebSocketMain.swf";
    	</script>
   		<script type="text/javascript" src="/assets/swfobject.js"></script>
    	<script type="text/javascript" src="/assets/web_socket.js"></script>
    	<script type="text/javascript">RACK_LIVERELOAD_PORT = 35729;</script>
    	<script type="text/javascript" src="/assets/livereload.js"></script>
    	<script src="/assets/jquery.min.js" type="text/javascript"></script>
        <script src="/js/chosen/chosen.jquery.min.js"></script>
        <script src="/js/confirm-bootstrap.js"></script>

    	<!-- Title -->
    	<title>Pharmacy Application - <%= controller()->name() %></title>
  	</head>

  	<body class="main page">
   		<!-- start navbar -->
    	<div class="navbar navbar-default" id="navbar">
    		<a class="navbar-brand" href="#">
      			<i class="icon-beer"></i>
      			DrugDispense
    		</a>
    		<ul class="nav navbar-nav pull-right">
				<li class="dropdown user">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user-md"></i>
						<strong><%= logged_user.username() %></strong>
						<img class="img-rounded" src="/assets/777">
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/Account/passwdReset">Reset Password</a></li>
						<li class="divider"></li>
						<li><a href="/Account/userSignout">Sign out</a></li>
					</ul>
				</li>
  			</ul>
		</div>
		<!-- end navbar -->

		<div id="wrapper">
  			<%== renderPartial("navigation")  %>

  			<!-- start tools -->
  			<section id="tools">
    			<ul class="breadcrumb" id="breadcrumb">
      				<li class="title"><%= controller()->className() %></li>
      				<li class="active"><a href="#"><%= controller()->activeAction() %></a></li>
    			</ul>
    			<div id="toolbar"></div>
  			</section>
  			<!-- end tools -->

  			<!-- start content -->
  			<div id="content">
    			<%== yield() %>
  			</div>
		</div>

		<!-- Footer -->
		<!-- Javascripts -->
		<script src="/assets/jquery-ui.min.js" type="text/javascript"></script>
		<script src="/assets/modernizr.min.js" type="text/javascript"></script>
		<script src="/assets/application.js" type="text/javascript"></script>
		<script src="/js/main.js" type="text/javascript"></script>

		<script type="text/javascript">
			$(function(){
				$('#dock li a[href^="/' + location.pathname.split("/")[1] + '"]').closest('li').addClass('active');
			});
		</script>
	</body>
</html>
