<%#include "dispenser.h" %>
<%#include "patient.h" %>
<%#include "drug.h" %>
<%#include "ailment.h" %>
<% tfetch(QVariantMap, disPen); %>
<% tfetch(Patient, patient); %>
<% tfetch(QList<Drug>, drugs); %>
<% tfetch(QList<Ailment>, ailments); %>
<div class='row'>
    <div class='col-lg-12'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <i class='icon-shopping-cart icon-large'></i>
                Dispensary process
            </div>
            <div class='panel-body'>
                <%== formTag(urla("create"), Tf::Post, "", a("class", "form-horizontal") | a("id", "disPenForms")) %>
                    <fieldset>
                        <legend>Dispensary process ...</legend>
                        <div class='form-group'>
                            <label for="patient" class='col-lg-2 control-label'>Patient</label>
                            <div class='col-lg-10'>
                                <input name='disPen[patient]' class='form-control' placeholder='' type='text' value='<%= patient.patientOthernames() + " " + patient.patientLastname() %>' readonly required>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-lg-2 control-label'>Ailment</label>
                            <div class='col-lg-10'>
                                <select name='disPen[ailment]' class='form-control' required data-placeholder='Search through the symptoms a select one' id='ailment'>
                                    <option value=""></option>
                                    <% foreach(Ailment ail, ailments){ %>
                                    <option value='<%= ail.name() %>'>
                                        <%= ail.symptoms() %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-lg-2 control-label'>Prescription</label>
                            <div class='col-lg-10'>
                                <select class='form-control drug' name='disPen[drugDispensed]' required data-placeholder='Select a drug...'>
                                    <option value=''></option>
                                    <% foreach(Drug drug, drugs){ %>
                                    <option class='dgOpt' value='<%= drug.drugId() %>' rel='<%= drug.ailment() %>'><%= drug.brandName() %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='col-lg-10 col-lg-offset-2'>
                                <select class='form-control dose' name='disPen[dosageGiven]' required data-placeholder='Select dosage for drug...'>
                                    <option value=""></option>
                                    <% foreach(Drug dg, drugs){ %>
                                    <optgroup label="<%= dg.brandName() %>" rel="<%= dg.drugId() %>">
                                        <% if(dg.dosage() != NULL){ %>
                                        <option value="<%= dg.dosage() %>">General - <%= dg.dosage() %></option>
                                        <% } %>

                                        <% if(dg.dosageChildren() != NULL){ %>
                                        <option value="<%= dg.dosageChildren() %>">Children - <%= dg.dosageChildren() %></option>
                                        <% } %>

                                        <% if(dg.dosageAdult() != NULL){ %>
                                        <option value="<%= dg.dosageAdult() %>">Adult - <%= dg.dosageAdult() %></option>
                                        <% } %>
                                    </optgroup>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <div class='form-actions'>
                        <button id='save' class='btn btn-default' type='submit'>Save</button>&nbsp;
                        <a class='btn' href='/Dashboard'>Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#ailment').chosen({
            no_results_text: "Please advice the patient to see a doctor!!! There is no drug for his/her description",
            search_contains: true
        });

        $('select.drug').chosen({
            disable_search_threshold: 5
        });

        $('select.dose').chosen({
            disable_search_threshold: 5
        });

        $('#ailment').change(function(){
            $('.dgOpt').removeAttr('disabled');
            ail = $(this).val();
            $('select.drug .dgOpt').each(function(){
                if($(this).attr('rel') != ail){
                    $(this).attr('disabled', 'disabled');
                }
            });
            $('select.drug').trigger('chosen:updated');
        });

        $('#ailment').on('chosen:no_results', function(evt, params){
            var value = params.chosen.search_results.find('li.no-results').text();
            var arr = value.split('"');
            alert(arr[0]);
        });

        $('select.drug').change(function(){
            $('select.dose optgroup').removeAttr('disabled');
            drug = $(this).val();
            $('select.dose optgroup').each(function(){
                if($(this).attr('rel') != drug){
                    $(this).attr('disabled', 'disabled');
                }
            });
            $('select.dose').trigger('chosen:updated');
        });
    });
</script>