<%#include "patient.h" %>
<%#include "ailment.h" %>
<%#include "drug.h" %>
<% tfetch(QList<Patient>, patients); %>
<% tfetch(QList<Ailment>, ailments); %>
<% tfetch(QList<Drug>, drugs); %>
<div class='row'>
    <div class='col-lg-12'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <i class='icon-shopping-cart icon-large'></i>
                Dispensary process
            </div>
            <div class='panel-body'>
                <%== formTag(urla("dispenseDrug"), Tf::Post, "", a("class", "form-horizontal")) %>
                    <fieldset>
                        <legend>Patient Background Information ...</legend>
                        <div class='form-group'>
                            <label for="patient" class='col-lg-2 control-label'>Patient</label>
                            <div class='col-lg-10'>
                                <select name="patient" class='form-control' required data-placeholder='Select a patient to administer drug to' id='patient'>
                                    <option value=''></option>
                                    <% foreach(Patient pat, patients){ %>
                                    <option value='<%= pat.patientId() %>'>
                                    <%= pat.patientOthernames() %> <%= pat.patientLastname() %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-lg-2 control-label'>Ailment</label>
                            <div class='col-lg-10'>
                                <select name="ailment" class='form-control' required data-placeholder='Search through the symptoms a select one' id='ailment'>
                                    <option value=""></option>
                                    <% foreach(Ailment ail, ailments){ %>
                                    <option value='<%= ail.name() %>'>
                                        <%= ail.symptoms() %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class='form-group prescribe'>
                            <label class='col-lg-2 control-label'>Prescription</label>
                            <div class='col-lg-10'>
                                <select class='form-control drug' name="drugDispensed" required data-placeholder='Select a drug...'>
                                    <option value=""></option>
                                    <% foreach(Drug drug, drugs){ %>
                                    <option class='dgOpt' value='<%= drug.drugId() %>' rel='<%= drug.ailment() %>'>
                                        <%= drug.brandName() %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class='form-group prescribe'>
                            <div class='col-lg-10 col-lg-offset-2'>
                                <select class='form-control dose' name="dosageGiven" required data-placeholder='Select dosage for drug...'>
                                    <option value=""></option>
                                    <% foreach(Drug dg, drugs){ %>
                                    <optgroup label="<%= dg.brandName() %>" rel="<%= dg.drugId() %>">
                                        <% if(dg.dosage() != NULL){ %>
                                        <option value="<%= dg.dosage() %>">General - <%= dg.dosage() %></option>
                                        <% } %>

                                        <% if(dg.dosageChildren() != NULL){ %>
                                        <option value="<%= dg.dosageChildren() %>">Children - <%= dg.dosageChildren() %></option>
                                        <% } %>

                                        <% if(dg.dosageAdult() != NULL){ %>
                                        <option value="<%= dg.dosageAdult() %>">Adult - <%= dg.dosageAdult() %></option>
                                        <% } %>
                                    </optgroup>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <div class='form-actions'>
                        <button id='save' class='btn btn-default' type='submit'>Save</button>&nbsp;
                        <a class='btn' href='/Dashboard'>Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#patient').chosen({
            no_results_text: "Please the patient hasn't been registered yet. Please make sure you register him/her <a href='/Patient/entry'>here</a>"
        });

        $('#patient').on('chosen:no_results', function(evt, params){
            var value = params.chosen.search_results.find('li.no-results').text();
            var arr = value.split('"');
            alert(arr[0]);
        });

        $('#ailment').chosen({
            no_results_text: "Please advice the patient to see a doctor!!! There is no drug for his/her description",
            search_contains: true
        });

        $('select.drug').chosen({
            disable_search_threshold: 5
        });

        $('select.dose').chosen({
            disable_search_threshold: 5
        });

        $('#ailment').change(function(){
            $('.dgOpt').removeAttr('disabled');
            ail = $(this).val();
            $('select.drug .dgOpt').each(function(){
                if($(this).attr('rel') != ail){
                    $(this).attr('disabled', 'disabled');
                }
            });
            $('select.drug').trigger('chosen:updated');
        });

        $('#ailment').on('chosen:no_results', function(evt, params){
            var value = params.chosen.search_results.find('li.no-results').text();
            var arr = value.split('"');
            alert(arr[0]);
        });

        $('select.drug').change(function(){
            $('select.dose optgroup').removeAttr('disabled');
            drug = $(this).val();
            $('select.dose optgroup').each(function(){
                if($(this).attr('rel') != drug){
                    $(this).attr('disabled', 'disabled');
                }
            });
            $('select.dose').trigger('chosen:updated');
        });
    });
</script>