<%#include "drug.h" %>
<%#include "patient.h" %>
<%#include "dispenser.h" %>
<%#include "user.h" %>
<%#include "role.h" %>
<%#include "allergy.h" %>
<% tfetch(QList<Allergy>, allergies); %>
<% tfetch(QList<Role>, roles); %>
<% tfetch(User, logged_user); %>
<% tfetch(QList<Drug>, drugs); %>
<% tfetch(Patient, pat); %>
<% tfetch(QList<Dispenser>, pat_recentDispense); %>
<% tfetch(int, count); %>
<div class='panel panel-default'>
    <div class='panel-heading'>
        <i class='icon-info-sign icon-large'></i>
        Prescription summary
        <div class='panel-tools'>
            <div class='btn-group'>
                <a class='btn' data-toggle='toolbar-tooltip' href='/Dashboard' title='Back'>
                    <i class='icon-double-angle-left'></i> Back
                </a>
            </div>
        </div>
    </div>
    <div class='panel-body'>
        <div class="row">
            <div class="col-xs-6">
                <address>
                <strong>Prescribed &amp; Issued by:</strong><br>
                    <%= logged_user.userOthernames() %>&nbsp;<%= logged_user.userLastname() %><br>
                    <%
                    foreach(Role role, roles){
                        if(logged_user.role() == role.roleId()){
                            eh(role.roleName());
                        }
                    }
                    %><br>
                    <%= QDate::currentDate() %>
                </address>
            </div>
            <div class="col-xs-6 text-right">
                <address>
                <strong>Prescribed To:</strong><br>
                    <%= pat.patientOthernames() %>&nbsp;<%= pat.patientLastname() %><br>
                    <%
                    foreach(Allergy all, allergies){
                        if(pat.allergy() == all.allergyId()){
                            eh(all.allergyName());
                        }
                    }
                    %>
                </address>
            </div>
        </div>
        <table class='table table-condensed'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ailment</th>
                    <th>Drug</th>
                    <th>Dosage</th>
                </tr>
            </thead>
            <tbody>
                <% foreach(Dispenser dispenser, pat_recentDispense){ %>
                    <td><%= count++ %></td>
                    <td><%= dispenser.ailment() %></td>
                    <% foreach(Drug drug, drugs){ %>
                        <% if(drug.drugId() == dispenser.drugDispensed()){ %>
                            <td><%= drug.brandName() %></td>
                        <% } %>
                    <% } %>
                    <td><%= dispenser.dosageGiven() %></td>
                <% } %>
            </tbody>
        </table>
    </div>
</div>