<%#include "user.h" %>
<%#include "role.h" %>
<% tfetch(QVariantMap, user); %>
<% tfetch(QList<Role>, roles); %>

<div class='panel panel-default'>
  	<div class='panel-heading'>
       	<i class='icon-plus icon-large'></i>
       	<%= user["username"] %>'s record
   	</div>
   	<div class='panel-body'>
   		<%== formTag(urla("save", user["userId"]), Tf::Post, "", a("class", "form-horizontal")) %>
   			<fieldset>
   				<legend>Editing ...</legend>
                <div class='form-group'>
                  	<label class='col-lg-2 control-label'>Full name</label>
                  	<div class='col-lg-5'>
                    	<input name='user[userLastname]' class='form-control' value='<%= user["userLastname"] %>' 
                    	placeholder='Lastname' type='text' autofocus required>
                  	</div>
                  	<div class='col-lg-5'>
                    	<input name='user[userOthernames]' class='form-control' value='<%= user["userOthernames"] %>' 
                    	placeholder='Other names' type='text' required>
                  	</div>
                </div>
                <div class='form-group'>
                  	<label class='col-lg-2 control-label'>Username</label>
                  	<div class='col-lg-10'>
                    	<input name='user[username]' class='form-control' value='<%= user["username"] %>' 
                    	placeholder='username' type='text' required readonly>
                  	</div>
                </div>
                <div class='form-group'>
                    <label class='col-lg-2 control-label'>Password</label>
                    <div class='col-lg-10'>
                        <input name='user[password]' class='form-control' value='<%= user["password"] %>' 
                        placeholder='Password' type='password' required readonly>
                    </div>
                </div>
                <div class='form-group'>
                  	<label class='col-lg-2 control-label'>Role</label>
                  	<div class='radio'>
                        <% foreach(Role role, roles){ %>
                    		<div class='col-lg-2 col-lg-offset-1'>
                    			<input name='user[role]' type='radio' value='<%= role.roleId() %>' required
                    			<% if(user["role"] == role.roleId()){ %>
                    				checked
                    			<% } %>
                    			> <%= role.roleName() %>
                    		</div>
                    	<% } %>
                  	</div>
                </div>
           	</fieldset>
            <div class='form-actions'>
            	<button class='btn btn-default' type='submit'>Save</button>
                <a class='btn' href='/User/index'>Cancel</a>
            </div>
        </form>
    </div>
</div>
