<%#include "user.h" %>
<%#include "role.h" %>
<% tfetch(QList<User>, users); %>
<% tfetch(QList<Role>, roles); %>
<div class='panel panel-default grid'>
	<div class='panel-heading'>
		<i class='icon-table icon-large'></i>
		Patient records
		<div class='panel-tools'>
			<div class='btn-group'>
                <a class='btn' data-toggle='toolbar-tooltip' href='' title='Reload'>
                    <i class='icon-refresh'></i>
                </a>
           	</div>
        </div>
   	</div>
    <div class='panel-body filters'>
    	<div class='row'>
    		<div class='col-md-4'>
                <a class='btn btn-primary' href='/User/entry'>
                  	<i class='icon-plus'></i>
                  	New user
                </a>
           	</div>
           	<div class='col-md-3 col-md-offset-5'>
               	<div class='input-group'>
                  	<input class='form-control' placeholder='Quick search...' type='search'>
                  	<span class='input-group-btn'>
                    	<button class='btn' type='button'>
                      		<i class='icon-search'></i>
                    	</button>
                  	</span>
                </div>
            </div>
        </div>
    </div>
    <table class='table'>
        <thead>
            <tr>
            	<th>#</th>
            	<th>Full Name</th>
    			<th>Username</th>
    			<th>Role</th>
                <th class='actions'>
                  Actions
                </th>
            </tr>
        </thead>
        <tbody>
        	<% foreach(User user, users){ %>
            <tr>
            	<td><%= user.userId() %></td>
                <td><%= user.userLastname() %>, &nbsp;<%= user.userOthernames() %></td>
                <td><%= user.username() %></td>
                <td>
                <% 
                foreach(Role role, roles){
                	if(user.role() == role.roleId()){
                		eh(role.roleName());
                	}
                } 
                %>
                </td>
                <td class='action'>
                  	<a class='btn btn-info' href='/User/edit/<%= user.userId() %>' data-toggle='tooltip' title='Edit'>
                    	<i class='icon-edit'></i>
                  	</a>
                  	<%== linkTo("<i class='icon-trash'></i>", urla("remove", user.userId()), Tf::Post, "confirm('Are you sure you want to delete this?')", a("class", "btn btn-danger") | a("data-toggle", "tooltip") | a("title", "Delete")) %>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    
</div>
