<%#include "drug.h" %>
<%#include "ailment.h" %>
<% tfetch(QVariantMap, drug); %>
<% tfetch(QList<Ailment>, ailments); %>
<div class='panel panel-default'>
    <div class='panel-heading'>
        <i class='icon-edit icon-large'></i>
        Edit record
    </div>
    <div class='panel-body'>
        <%== formTag(urla("create"), Tf::Post, "", a("class", "form-horizontal")) %>
            <fieldset>
                <legend>Edit record <b><%= drug["drugId"] %></b></legend>
                <div class='form-group'>
                    <label class='col-lg-2 control-label'>Brand name</label>
                    <div class='col-lg-10'>
                        <input name='drug[brandName]' class='form-control' value='<%= drug["brandName"] %>' placeholder='Brand name' type='text' autofocus required>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-lg-2 control-label'>Manufacturer</label>
                    <div class='col-lg-10'>
                        <input name='drug[manufacturer]' class='form-control' value='<%= drug["manufacturer"] %>' placeholder='Manufacturing company' type='text' required>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-lg-2 control-label'>Expiry date</label>
                    <div class='col-lg-10'>
                        <input name='drug[expiryDate]' class='form-control' value='<%= drug["expiryDate"] %>' placeholder='dd-mm-yyyy' type='date' required>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-lg-2 control-label'>Active ingredients</label>
                    <div class='col-lg-10'>
                        <textarea name='drug[ingredients]' value='<%= drug["ingredients"] %>' rows='2' class='form-control tiny' required></textarea>
                        <p class="help-block">enter all the active ingredients here. Please seperate them by comma.</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-lg-2 control-label'>Ailments</label>
                    <div class='col-lg-10'>
                        <select name='drug[ailment]' value='<%= drug["ailment"] %>' class='form-control' required data-placeholder="Select an ailment" id='ailment'>
                            <option value=''></option>
                            <% foreach(Ailment ail, ailments){ %>
                                <option value='<%= ail.name() %>' 
                                <% if(drug["ailment"] == ail.name()){ %>
                                    selected
                                <% } %>><%= ail.name() %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-lg-2 control-label'>
                        General dosage
                    </label>
                    <div class='col-lg-10'>
                        <input type='text' name='drug[dosage]' value='<%= drug["dosage"] %>' class='form-control' />
                        <p class="help-block">Put in a general dosage here</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-lg-2 control-label'>
                        Dosage for children
                    </label>
                    <div class='col-lg-10'>
                        <input type='text' name='drug[dosageChildren]' value='<%= drug["dosageChildren"] %>' class='form-control' />
                        <p class="help-block">Put in a dosage that is specific to children</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-lg-2 control-label'>
                        Dosage for adults
                    </label>
                    <div class='col-lg-10'>
                        <input type='text' name='drug[dosageAdult]' value='<%= drug["dosageAdult"] %>' class='form-control' />
                        <p class="help-block">Put in a dosage specific for adults</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-lg-2 control-label'>Side effects</label>
                    <div class='col-lg-10'>
                        <input name='drug[sideEffects]' value='<%= drug["sideEffects"] %>' class='form-control' required />
                        <p class="help-block">What are the side effects to the drug. Put in the major one</p>
                    </div>
                </div>
            </fieldset>
            <div class='form-actions'>
                <button class='btn btn-default' type='submit'>Save</button>
                <a class='btn' href='/Drug'>Cancel</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#ailment").chosen();
    });
</script>