<%#include "drug.h" %>
<% tfetch(QList<Drug>, drugList); %>
<div class='panel panel-default grid'>
	<div class='panel-heading'>
		<i class='icon-table icon-large'></i>
		Drugs in-stock
		<div class='panel-tools'>
			<div class='btn-group'>
                <a class='btn' data-toggle='toolbar-tooltip' href='' title='Reload'>
                  <i class='icon-refresh'></i>
                </a>
           	</div>
        </div>
   	</div>
    <div class='panel-body filters'>
    	<div class='row'>
    		<div class='col-md-4'>
                <a class='btn btn-primary' href='/Drug/entry'>
                  	<i class='icon-plus'></i>
                  	Add new drug
                </a>
           	</div>
           	<div class='col-md-3 col-md-offset-5'>
               	<div class='input-group'>
                  	<input class='form-control' placeholder='Quick search...' type='search'>
                  	<span class='input-group-btn'>
                    	<button class='btn' type='button'>
                      		<i class='icon-search'></i>
                    	</button>
                  	</span>
                </div>
            </div>
        </div>
    </div>
    <table class='table'>
        <thead>
            <tr>
            	<th>#</th>
            	<th>Brand Name</th>
            	<th>Ingredients</th>
    			<th>Manufacturer</th>
    			<th>Expiry date</th>
                <th class='actions'>
                  Actions
                </th>
            </tr>
        </thead>
        <tbody>
        	<% foreach(Drug drug, drugList){ %>
            <tr>
            	<td><%= drug.drugId() %></td>
                <td><%= drug.brandName() %></td>
                <td><%= drug.ingredients() %></td>
                <td><%= drug.manufacturer() %></td>
                <td><%= drug.expiryDate() %></td>
                <td class='action'>
                  	<a class='btn btn-info' href='/Drug/edit/<%= drug.drugId() %>' data-toggle='tooltip' title='Edit'>
                    	<i class='icon-edit'></i>
                  	</a>
                  	<%== linkTo("<i class='icon-trash'></i>", urla("remove", drug.drugId()), Tf::Post, "confirm('Are you sure you want to delete this?')", a("class", "btn btn-danger") | a("data-toggle", "tooltip") | a("title", "Delete")) %>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    
</div>
