<%#include "allergytype.h" %>
<%#include "allergy.h" %>
<%#include "drug.h" %>
<% tfetch(QList<AllergyType>, allergyTypes); %>
<% tfetch(QList<Allergy>, allergies); %>
<% tfetch(QList<Drug>, drugs); %>

<div class='row'>
    <div class='col-lg-12'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <i class='icon-info-sign icon-large'></i>
                Detailed Information about drugs and allergies
            </div>
            <div class='panel-body'>
                <ul class="nav nav-tabs">
                    <li><a href="#allergy" data-toggle="tab">Allergy Info</a></li>
                    <li><a href="#drug" data-toggle="tab">Drug Info</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="allergy">
                        <h2>Allergy Types</h2>
                        <hr>
                        <div class="panel-group" id="accordion">
                            <% foreach(AllergyType al_t, allergyTypes){ %>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#alT<%= al_t.typeId() %>">
                                                <%= al_t.typeName() %>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="alT<%= al_t.typeId() %>" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <%= al_t.description() %>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <br>

                        <h2>Allergy</h2>
                        <hr>
                        <div class="panel-group" id="accordion2">
                            <% foreach(Allergy al, allergies){ %>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#al<%= al.allergyId() %>">
                                                <%= al.allergyName() %>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="al<%= al.allergyId() %>" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <%= al.description() %>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>

                    </div>
                    <div class="tab-pane" id="drug">
                        <h2>Drugs</h2>
                        <hr>
                        <div class="panel-group" id="accordion3">
                            <% foreach(Drug drug, drugs){ %>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion3" href="#drug<%= drug.drugId() %>">
                                                <%= drug.brandName() %>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="drug<%= drug.drugId() %>" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <h4><em><b>Ailments</b></em></h4>
                                            <%= drug.ailment() %>
                                            <br>

                                            <h4><em><b>Ingredients</b></em></h4>
                                            <%= drug.ingredients() %>
                                            <br>

                                            <h4><em><b>Dosage</b></em></h4>
                                            <%= drug.dosage() %>
                                            <br>

                                            <h4><em><b>Side effects</b></em></h4>
                                            <%= drug.sideEffects() %>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>