<%#include "patient.h" %>
<%#include "allergy.h" %>
<% tfetch(QVariantMap, patient); %>
<% tfetch(QList<Allergy>, allergy_pull); %>

<div class='panel panel-default'>
    <div class='panel-heading'>
        <i class='icon-edit icon-large'></i>
        Patient #<%= patient["patientId"] %>'s record
    </div>
    <div class='panel-body'>
      	<%== formTag(urla("save", patient["patientId"]), Tf::Post, "", a("class", "form-horizontal")) %>
        	<fieldset>
          		<legend>Editing ...</legend>
            	<div class='form-group'>
                	<label class='col-lg-2 control-label'>Full name</label>
                	<div class='col-lg-5'>
                  		<input name='patient[patientLastname]' class='form-control' 
                  		value='<%= patient["patientLastname"] %>' placeholder='Lastname' type='text' autofocus required>
                	</div>
                	<div class='col-lg-5'>
                  		<input name='patient[patientOthernames]' class='form-control' 
                  		value='<%= patient["patientOthernames"] %>' placeholder='Other names' type='text' required>
                	</div>
            	</div>
            	<div class='form-group'>
                	<label class='col-lg-2 control-label'>Date of birth</label>
                	<div class='col-lg-10'>
                  		<input name='patient[patientDob]' class='form-control' 
                  		value='<%= patient["patientDob"] %>' placeholder='dd-mm-yyyy' type='date' required>
                	</div>
            	</div>
            	<div class='form-group'>
                	<label class='col-lg-2 control-label'>Gender</label>
                	<div class='radio'>
                  		<div class='col-lg-2 col-lg-offset-1'>
                    		<input name='patient[patientGender]' type='radio' value='Male' required 
                    		<% if(patient["patientGender"] == "Male"){ %>
                    			checked
                    		<% } %>
                    		> Male
                  		</div>
                  		<div class='col-lg-2'>
                    		<input name='patient[patientGender]' type='radio' value='Female'
                    		<% if(patient["patientGender"] == "Female"){ %>
                    			checked
                    		<% } %>
                    		> Female
                  		</div>
                	</div>
           		</div>
            	<div class='form-group'>
                	<label class='col-lg-2 control-label'>Weight</label>
                	<div class='col-lg-10'>
                  		<input name='patient[patientWeight]' class='form-control' placeholder='12.8' 
                  		value='<%= patient["patientWeight"] %>' type='number' step='0.01' required>
                	</div>
            	</div>
            	<div class='form-group'>
                	<label class='col-lg-2 control-label'>Allergy</label>
                	<div class='col-lg-10'>
                  		<select class='form-control' name='patient[allergy]' data-placement="Select an allergy" id='allergy'>
                    		<option value=''></option>
                            <option value=''>None</option>
                    		<% foreach(Allergy al, allergy_pull){ %>
                    			<option value='<%= al.allergyId() %>'
                    				<% if(patient["allergy"] == al.allergyId()){ %>
                    				selected
                    				<% } %> >
                    				<%= al.allergyName() %>
                    			</opstion>
                    		<% } %>
                  		</select>
                	</div>
            	</div>
        	</fieldset>
            <div class='form-actions'>
              	<button class='btn btn-default' type='submit'>Save</button>
              	<a class='btn' href='/Patient/index'>Cancel</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#allergy").chosen();
    });
</script>
