<%#include "patient.h" %>
<%#include "allergy.h" %>
<% tfetch(QList<Allergy>, allergy_pull); %>
<% tfetch(QList<Patient>, patientList); %>
<div class='panel panel-default grid'>
	<div class='panel-heading'>
		<i class='icon-table icon-large'></i>
		Patient records
		<div class='panel-tools'>
			<div class='btn-group'>
                <a class='btn' data-toggle='toolbar-tooltip' href='' title='Reload'>
                    <i class='icon-refresh'></i>
                </a>
           	</div>
        </div>
   	</div>
    <div class='panel-body filters'>
    	<div class='row'>
    		<div class='col-md-4'>
                <a class='btn btn-primary' href='/Patient/entry'>
                  	<i class='icon-plus'></i>
                  	New patient
                </a>
           	</div>
           	<div class='col-md-3 col-md-offset-5'>
               	<div class='input-group'>
                  	<input class='form-control' placeholder='Quick search...' type='search'>
                  	<span class='input-group-btn'>
                    	<button class='btn' type='button'>
                      		<i class='icon-search'></i>
                    	</button>
                  	</span>
                </div>
            </div>
        </div>
    </div>
    <table class='table'>
        <thead>
            <tr>
            	<th>#</th>
            	<th>Full Name</th>
    			<th>Date of Birth</th>
    			<th>Gender</th>
    			<th>Weight</th>
    			<th>Allergy</th>
                <th class='actions'>
                  Actions
                </th>
            </tr>
        </thead>
        <tbody>
        	<% foreach(Patient pat, patientList){ %>
            <tr>
            	<td><%= pat.patientId() %></td>
                <td>
                    <a href='/Patient/show/<%= pat.patientId() %>'>
                        <%= pat.patientLastname() %>, &nbsp;<%= pat.patientOthernames() %>
                    </a>
                </td>
                <td><%= pat.patientDob() %></td>
                <td><%= pat.patientGender() %></td>
                <td><%= pat.patientWeight() %>kg</td>
                <td>
                <%
                foreach(Allergy al, allergy_pull){
                	if(pat.allergy() == al.allergyId()){
                		eh(al.allergyName());
                	}
                }
                %>
                </td>
                <td class='action'>
                  	<a class='btn btn-info' href='/Patient/edit/<%= pat.patientId() %>' data-toggle='tooltip' title='Edit'>
                    	<i class='icon-edit'></i>
                  	</a>&nbsp;
                    <a class='btn btn-success' href='/Dispenser/indexer/<%= pat.patientId() %>' data-toggle='tooltip' title='Dispense drug'>
                        <i class='icon-medkit'></i>
                    </a>&nbsp;
                  	<%== linkTo("<i class='icon-trash'></i>", urla("remove", pat.patientId()), Tf::Post, "confirm('Are you sure you want to delete this?')", a("class", "btn btn-danger") | a("data-toggle", "tooltip") | a("title", "Delete")) %>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
