<%#include "patient.h" %>
<%#include "dispenser.h" %>
<%#include "drug.h" %>
<%#include "allergy.h" %>
<% tfetch(Patient, patient); %>
<% tfetch(QList<Allergy>, allergies); %>
<% tfetch(QList<Drug>, drugs); %>
<% tfetch(QList<Dispenser>, histories); %>
<% tfetch(int, count); %>

<div class="jumbotron">
    <h1><%= patient.patientOthernames() %>&nbsp;<%= patient.patientLastname() %></h1>
    <p>
        Date of Birth: <%= patient.patientDob() %><br>
        Patient's weight: <%= patient.patientWeight() %>kg<br>
        <% foreach(Allergy allergy, allergies){ %>
            <% if(allergy.allergyId() == patient.allergy()){ %>
                Allergy if any: <%= allergy.allergyName() %><br>
            <% } %>
        <% } %>
    </p>
    <p><%== linkTo("Back", urla("index"), Tf::Get, "", a("class", "btn btn-primary btn-lg") | a("role", "button")) %></p>
</div>

<div class='panel panel-default grid'>
    <div class='panel-heading'>
        <i class='icon-table icon-large'></i>
        History
        <div class='panel-tools'>
            <div class='btn-group'>
                <a class='btn' data-toggle='toolbar-tooltip' href='' title='Reload'>
                    <i class='icon-refresh'></i>
                </a>
            </div>
        </div>
    </div>
    <div class='panel-body filters'>
        <div class='row'>
            <div class='col-md-3 col-md-offset-9'>
                <div class='input-group'>
                    <input class='form-control' placeholder='Quick search...' type='search'>
                    <span class='input-group-btn'>
                        <button class='btn' type='button'>
                            <i class='icon-search'></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <table class='table'>
        <thead>
            <tr>
                <th>#</th>
                <th>Dispensed date</th>
                <th>Ailment</th>
                <th>Drug prescribed</th>
                <th>Dosage given</th>
            </tr>
        </thead>
        <tbody>
            <% foreach(Dispenser dispen, histories){ %>
            <tr>
                <% if(patient.patientId() == dispen.patient()){ %>
                    <td><%= count++ %></td>
                    <td><%= dispen.dispenseDate() %></td>
                    <td><%= dispen.ailment() %></td>
                    <% foreach(Drug drug, drugs){ %>
                        <% if(drug.drugId() == dispen.drugDispensed()){ %>
                            <td><%= drug.brandName() %></td>
                        <% } %>
                    <% } %>
                    <td><%= dispen.dosageGiven() %></td>
                <% } %>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
