<!-- start sidebar -->
<section id="sidebar">
	<i class="icon-align-justify icon-large" id="toggle"></i>
	<ul id="dock">
		<li class="launcher">
			<i class="icon-dashboard"></i>
			<a href="/Dashboard">Dashboard</a>
		</li>
		<li class="launcher">
			<i class="icon-group"></i>
			<a href="/User">Users</a>
		</li>
		<li class="launcher">
			<i class="icon-ambulance"></i>
			<a href="/Patient">Patients</a>
		</li>
		<li class="launcher">
			<i class="icon-medkit"></i>
			<a href="/Drug">Drugs</a>
		</li>
		<li class="launcher">
			<i class="icon-info-sign"></i>
			<a href="/News">Info</a>
		</li>
	</ul>
	<div data-toggle="tooltip" id="beaker" title="" data-original-title="DrugDispense &copy; 2015"></div>
</section>
<!-- end sidebar -->