<%#include "user.h" %>
<% tfetch(User, logged_user); %>
<div class='container'>
    <div class='row well'>
	    <div class='col-lg-2 center-block'>
            <a class='btn' href='/Patient/entry'>
              	<i class="icon-user icon-4x"></i>
              	<h5><b>Add patient</b></h5>
            </a>
       	</div>
       	<div class='col-lg-2 center-block'>
            <a class='btn' href='/Dispenser'>
              	<i class='icon-medkit icon-4x icon-rotate-270'></i>
              	<h5><b>Dispense drug</b></h5>
            </a>
       	</div>
       	<div class='col-lg-2 center-block'>
            <a class="btn <% if(logged_user.role() != 2){ %> disabled <% }%>" href='/Drug/entry'>
              	<i class='icon-stethoscope icon-4x'></i>
              	<h5><b>Add Drug</b></h5>
            </a>
       	</div>
       	<div class='col-lg-2 center-block'>
            <a class="btn <% if(logged_user.role() != 1){ %> disabled <% }%>" href='/User/entry'>
              	<i class="icon-user-md icon-4x"></i>
              	<h5><b>Add user</b></h5>
            </a>
       	</div>
       	<div class='col-lg-2 center-block'>
            <a class='btn disabled' href=''>
              	<i class='icon-user icon-4x'></i>
              	<h5 class='disabled'><b>Add patient</b></h5>
            </a>
       	</div>
       	<div class='col-lg-2 center-block'>
            <a class='btn disabled' href=''>
              	<i class='icon-user icon-4x'></i>
              	<h5><b>Add patient</b></h5>
            </a>
       	</div>
    </div>
</div>
    
