<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  		<script type="text/javascript">
    			WEB_SOCKET_SWF_LOCATION = "/__rack/WebSocketMain.swf";
  		</script>
  		<script type="text/javascript" src="/assets/swfobject.js"></script>
  		<script type="text/javascript" src="/assets/web_socket.js"></script>

		<script type="text/javascript">
  			RACK_LIVERELOAD_PORT = 35729;
		</script>
		<script type="text/javascript" src="/assets/livereload.js"></script>

    		<meta charset="utf-8">
    		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    		<meta content="" name="description">
    		<meta content="" name="keywords">

    		<!-- Title -->
    		<title>Pharmacy Application - <%= controller()->name() %></title>
    
    		<link href="/assets/application.css" rel="stylesheet" type="text/css">
    		<link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">   
  	</head>
  	<body class="login">
    		<div class="wrapper">
      			<div class="row">
        			<div class="col-lg-12">
          				<div class="brand text-center">
           	 				<h1>
          						<div class="logo-icon">
            						<i class="icon-beer"></i>
          						</div>
          						DrugDispense
        					</h1>
          				</div>
        			</div>
      			</div>
      			
      			<div class="row">
        			<div class="col-lg-12">
          				<%== formTag(urla("userSignin")); %>
            					<fieldset class="text-center">
              						<legend>Login to your account</legend>
              						<div class="form-group">
                						<input class="form-control" placeholder="username" type="text" name="username">
              						</div>
              						<div class="form-group">
                						<input class="form-control" placeholder="password" type="password" name="password">
              						</div>
              						<div class="text-center">
                						<button class="btn btn-default">Sign in</button>
              						</div>
            					</fieldset>
          				</form>
        			</div>
      			</div>
    		</div>
    
    		<!-- Footer -->
    		<!-- Javascripts -->
    		<script src="/assets/jquery.min.js" type="text/javascript"></script>
		<script src="/assets/jquery-ui.min.js" type="text/javascript"></script>
		<script src="/assets/modernizr.min.js" type="text/javascript"></script>
		<script src="/assets/application.js" type="text/javascript"></script>
	</body>
</html>